{% extends 'base.html.twig' %}
{% set title = 'title.home_page' %}

{% block content %}
    <div class="container">
        Тут будет что-то вроде дороги к превозмоганию(via dolorosa)
    </div>
{% endblock %}